@model EsteroidesToDo.Application.ViewModels.VacantesVistaViewModel

@{
    ViewData["Title"] = "Vacantes";
}

<h2>Vacantes</h2>

@if (Model.EsDuenio)
{
    <a asp-action="CrearVacante" class="btn btn-success mb-3">Crear nueva vacante</a>
    <a asp-action="MiVacante" class="btn btn-success mb-3">Mis vacantes</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Título: </th>
            <th>EmpresaNombre</th>
            <th>Descripción: </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vacante in Model.Vacantes)
        {
            <tr>
                <td>@vacante.Titulo</td>
                <td>@vacante.EmpresaNombre</td>
                <td>@vacante.Descripcion</td>
                <td>@vacante.Estado</td>
                <td>@vacante.FechaCreacion</td>
            </tr>
        }
    </tbody>
</table>
